.Options option{
    background-color: var(--bg-primary);
}

.inputArea{
    height: 120px;
    resize: none;
    background-color: var(--bg-primary);
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.select{
    font-size: 14px;
}
.inputLabel{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.outputArea{
    resize: none;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: var(--bg-primary);
}
