:root{
  --bg-primary : #262626;
  --text-primary : white;
  --navbar-bg:hsl(0, 0%, 15%);
  --font-primary: 'Inter', sans-serif;
  --hover-extra : #2f2e2e;
  --bg-secondary : #ca8a04;
  --text-secondary: white;
}

@import "tailwindcss";

body{
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-primary);
}
.bg-primary{
  background-color: var(--bg-primary);
}
.text-secondary{
  color: var(--bg-secondary);
}
.text-primary{
  color: var(--bg-primary);
}
.bg-recessive{
  background-color: var(--hover-extra);
}
#outerWrap{
  display: flex;
}
section#main{
  width: 100%;
}
@media screen and (min-width: 556px) {
  section.flow{
    padding: 30px 10px;
  }
}
@media screen and (min-width: 991px) {
  section.flow{
    padding: 60px 15px;
  }
}
.boxShadow{
  box-shadow: 0 1px 26px 0 var(--bg-secondary);
}
.editorContainer{
  height: calc( 100vh - 60px )
}
.buttonSmall{
  padding: 2px 18px !important;
}